.view-more {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.view-more-button {
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightgray;
}
