.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.player {
  width: 100%;
}

.video-data {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}
