.video-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.play {
  flex-direction: column;
}

/* @media screen and (max-width: 1100px) {
  .video-list-container {
    padding: 10rem 10px 0;
    flex-direction: column;
  }
} */
